.container {
  background-color: navy;
  color: goldenrod;
  height: 100vh;
}

.homeHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mainHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 200px;
  height: 80vh;
}

.logInButton {
  background-color: navy;
  color: goldenrod;
  text-decoration: none;
  padding: 10px 25px;
}

.homeImg {
  width: 400px;
  height: 400px;
}
